<!-- start Simple Custom CSS and JS -->
<style type="text/css">
html {
  margin-top: 0 !important;
  overflow-x: hidden;
}
.et_section_regular {
  padding-bottom: 0;
}
p {
  margin-bottom: auto;
}
body {
  color: #6f6f6f;
  font-size: 17px;
  font-family: Arial, sans-serif !important;
  background: #fff;
  overflow-x: hidden;
}
.title-blue {
  font-size: 25px !important;
  color: #EC6A28;
  font-weight: bold;
  border-bottom: 2px dotted #EC6A28;
  padding-bottom: 5px;
}
.page article {
  border-top: 0 !important;
}
li.et_pb_tab_active a {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #EC6A28 !important;
  border-top: 7px solid #EC6A28;
  width: 100%;
  display: block;
}

.et_pb_tabs_controls li {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
}
.title-red {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #EC6A28;
}
.module-bread {
  background-color: transparent;
  border-top: 0;
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 0;
  font-size: 20px;
}
.module-bread > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
} 
.module-bread > li {
  display: inline;
}
.module-bread > li > a { color: #00f !important; }
.module-bread > li, .module-bread > li > span { color: #ab0d0d; }
.paginated .pagination li, .archive-pagination>.page-numbers li {
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid #0f75bc;
}
.archive-pagination>.page-numbers li>.page-numbers.current {
  background: none;
  line-height: 40px;
}
.paginated .pagination li a, .archive-pagination>.page-numbers li a {
  line-height: 40px;
  color: #0f75bc;
}
.paginated .pagination li.active, .archive-pagination>.page-numbers li.current, .paginated .pagination li:hover, .archive-pagination>.page-numbers li:hover {
  background: #0f75bc;
}
.paginated .pagination li:hover a , .archive-pagination>.page-numbers li:hover a {
  color: #fff;
}
.paginated .pagination li a:before, .archive-pagination>.page-numbers li a:before {
  color: #0f75bc !important;
}
.paginated .pagination li:hover a:before, .archive-pagination>.page-numbers li:hover a:before {
  color: #fff !important;
}
.archive-pagination>.page-numbers {
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 15px;
}
.archive-pagination {
  display: block;
  margin: 0 auto;
}
.clear-fix:after {
   content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.rpwe-thumb {
  width: 70px;
}
.rpwe-block li {
  padding: 7px 10px;
}
.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .title-red {
    font-size: 25px;
  }
  .rpwe-title a {
    font-size: 15px;
  }
  .rpwe-thumb {
    width: 60px;
  }
}
@media screen and (max-width: 480px) {
  .title-blue {
    font-size: 20px !important;
  }
  .title-red {
    font-size: 20px;
  }
  .module-bread a, .module-bread span{
    font-size: 15px;
  }
}
</style>
<!-- end Simple Custom CSS and JS -->
